@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: #f7f7f7;
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin: 2rem;
  text-align: center;
  font-size: 2.5rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
  border-radius: 0.25rem;
  background-color: #222;
  padding: 1rem;
}

input[type="text"] {
  flex: 1;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  margin-right: 1rem;
  font-size: 1rem;
  background-color: #222;
  color: #f7f7f7;
  border-radius: 0.25rem;
  outline: none;
}

button[type="submit"] {
  padding: 1rem 2rem;
  border: none;
  background-color: #0077C2;
  color: white;
  border-radius: 0.25rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

button[type="submit"]:hover {
  cursor: pointer;
  background-color: #005BA8;
}

#todo-list {
  list-style: none;
  margin: 2rem auto;
  max-width: 600px;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: #222;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#todo-list li:last-child {
  margin-bottom: 0;
}

#todo-list li span {
  flex: 1;
  margin-right: 1rem;
  font-size: 1rem;
  color: #f7f7f7;
}

#todo-list li button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #f44336;
  color: #f7f7f7;
  border-radius: 0.25rem;
  font-size: 1rem;
}

#todo-list li button:hover {
  cursor: pointer;
  background-color: #d32f2f;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  form {
    grid-template-columns: 1fr;
  } 

  input[type="text"] {
    width: 100%;
    margin-bottom: 1rem;
  }

  button[type="submit"] {
    width: 100%;
    margin-top: 1rem;
  }

  #todo-list {
    margin: 2rem 1rem;
  }
}
